node_modules/

# env variables
.env
tenderly.yaml

# log
*.log

# hardhat
artifacts/
cache/
typechain/
typechain-types/

flattened

# hardhat-dependency-compiler
hardhat-dependency-compiler/

# macOS
.DS_Store

# Coverage directory used by tools like istanbul
coverage/
coverage.json
